{% extends "personal/header.html" %} 
{% block content %}
{% if request.user.username %}

<table class="w3-table w3-striped">
    <tr>
      <th>Category</th>
      <th>Info</th>
    </tr>
    <tr><td>Username</td><td>{{ user.username }}</td></tr>
    <tr><td>Wins</td><td>{{ user.profile.wins }}</td></tr>
    <tr><td>Loses</td><td>{{ user.profile.loses }}</td></tr>
    <tr><td>Ties</td><td>{{ user.profile.ties }}</td></tr>
</table>
</div>

{% else %}
<h3>You must be logged in to view your profile.</h3>
{% endif %}
{% endblock %}
